body{
    background-image: url("photo.jpg");
    color: rgb(181, 39, 241);
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
button {
    border-radius: 50%;
    margin-top: 20px;
}
img{
width: 150px;
height: 150px;
border-radius: 50%;
}
